@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Kaushan+Script&family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-size: 25px;
  color: #333;
}

header .navbar a {
  font-size: 20px;
  color: #666;
  margin-left: 20px;
}

header .navbar a:hover {
  color: #999;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 20px 9%;
  position: relative;
  overflow: hidden;
}

.container .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

.container .content h3 {
  color: #333;
  font-size: 50px;
}

.container .content p {
  color: #666;
  font-size: 17px;
  padding: 5px 0;
}

.container .content .btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
  padding: 9px 40px;
  background-color: #333;
  color: white;
}

.container .content .btn:hover {
  background: #666;
}

.container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  position: relative;
}

.container .image .shoe {
  width: 100%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  display: none;
}

.container .image .shoe.active {
  display: initial;
  -webkit-animation: animate 0.5s cubic-bezier(0.45, 1.63, 0.98, 1.55);
          animation: animate 0.5s cubic-bezier(0.45, 1.63, 0.98, 1.55);
}

.container .image::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 100px;
  border-radius: 50%;
  height: 450px;
  width: 450px;
  background: #eee;
}

.container .left,
.container .right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: 2px solid #333;
  line-height: 45px;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

.container .left:hover,
.container .right:hover {
  background-color: #333;
  color: #fff;
}

.container .left {
  left: 30px;
}

.container .right {
  right: 30px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
            transform: rotate(0deg) scale(0.7);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
            transform: rotate(0deg) scale(0.7);
  }
}
/*# sourceMappingURL=style.css.map */