@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Kaushan+Script&family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    font-size: 25px;
    color: #333;
  }
  .navbar {
    a {
      font-size: 20px;
      color: #666;
      margin-left: 20px;
      &:hover {
        color: #999;
      }
    }
  }
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 9%;
  position: relative;
  overflow: hidden;
  .content {
    flex: 1 1 500px;
    h3 {
      color: #333;
      font-size: 50px;
    }
    p {
      color: #666;
      font-size: 17px;
      padding: 5px 0;
    }
    .btn {
      display: inline-block;
      margin-top: 10px;
      font-size: 17px;
      padding: 9px 40px;
      background-color: #333;
      color: white;
      &:hover {
        background: #666;
      }
    }
  }
  .image {
    flex: 1 1 400px;
    position: relative;
    .shoe {
      width: 100%;
      transform: rotate(-35deg);
      display: none;
      &.active {
        display: initial;
        animation: animate 0.5s cubic-bezier(0.45, 1.63, 0.98, 1.55);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 100px;
      border-radius: 50%;
      height: 450px;
      width: 450px;
      background: #eee;
    }
  }
  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border: 2px solid #333;
    line-height: 45px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
      background-color: #333;
      color: #fff;
    }
  }
  .left {
    left: 30px;
  }
  .right {
    right: 30px;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
}
